/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --bg-color: #dae1f0;
    --txt-color: #070BF6;
    --azalea: #f1b7de;
    --rose: #f367a4;
}

html {
    font-size: 16px;
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    color: var(--txt-color);
    background-color: var(--bg-color);
    line-height: 1.5;
    font-size: 1.75rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
    /* Override default link behavior which is to make the color blue */
    color: inherit;
    text-decoration: none;

}

a:hover {
    color: var(--azalea);
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--rose);
    font-weight: 700;
    line-height: 1.1;
}
  

h1 {
    font-size: 3rem;
    font-style:italic;
    text-decoration: underline;
}
  
h2 {
    font-size: 2.5rem;
}
  
h3 {
    font-size: 2rem;
}
  
h4 {
    font-size: 1.5rem;
}
  
h5 {
    font-size: 1rem;
}
  
h6 {
    font-size: 0.5rem;
}
  
p {
    margin-bottom: 0.5rem;
  }

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1em;
    color: var(--rose);
    background-color: black;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    /* Fix header to stay fixed at the top */
    position: fixed;
    top:0;
    left:0;
    width:100%;

}

.right-header {
    display:flex;
    align-items: center;
}

.nav-links {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    color: var(--bg-color);
    font-size: 1rem;
    padding-right: 1rem;
}

.nav-item {
    color: var(--bg-color);
}

.subtitle {
    font-size: 1rem;
    font-style:italic;
}

/* HERO */
/* background img sourced from https://unsplash.com */

.hero {
    display:flex;
    height: 800px;
    width: 100%;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--azalea);
    margin-left: 1rem;

}


.left-hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: var(--bg-color);

}

.right-hero {
    display:flex;
    justify-content: center;
    width:50%;
}

.portrait {
    align-self: start;
    border-radius: 100px;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.fit-picture {
    width: 700px;
}